

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  padding-bottom: 20px;
  margin-top: 30px;
  background: url('../img/bee-and-flower-17636-desktop-wallpaper-17636.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel {
	opacity:0.9; filter:alpha(opacity=90); /* For IE8 and earlier */
}

.intro {
	color: #fff;
	font-size: 28px;
	font-weight: 100;
	text-shadow: 0 1px 2px #333;
}

footer {
	color: #fff;
	text-shadow: 0 1px 2px #333;
}














